{% extends 'base.html.twig' %}
{% block body %}
    <div class="row text-white d-flex">
        <div class="col-5 align-self-center"><h1><strong>Les oeuvres</strong></h1></div>
    </div>
    <div class="row justify-content-center">
        {% for oeuvre in oeuvres %}
            <div>
            <a href="{{ url('oeuvre.details', { 'id': oeuvre.id }) }}">
             <div class="card bg-dark text-white">
                <img class="card-img" src="{{oeuvre.image}}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{ oeuvre.name }}</h5>
                </div>
            </div></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}